Source: stsbl-iserv-server-radvd
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3

Package: stsbl-iserv-server-radvd
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-config-file,
  iserv-server-ferm (>= 18.04.10),
  iserv-update,
  radvd,
  stsbl-iserv-config-ipv6 (>= 18.10.25),
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: IServ Server Radvd
 Provides radvd configuration to advertise routes to LAN and internet.
Tag: suite::iserv
