Source: stsbl-iserv-server-radvd
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.3

Package: stsbl-iserv-server-radvd
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-config-file,
  iserv-update,
  radvd,
  stsbl-iserv-config-ipv6,
  stsbl-iserv-server-radvd,
Description: IServ Server Radvd
 Provides radvd configuration to advertise routes to LAN and internet.
Tag: suite::iserv
