Source: stsbl-iserv-server-radvd
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-server-radvd
Architecture: all
Depends: iserv-config-file,
         iserv-server-ferm (>= 18.04.10),
         iserv-update,
         radvd,
         stsbl-iserv-config-ipv6 (>= 19.10.06),
         ${misc:Depends},
         ${perl:Depends}
Suggests: stsbl-iserv-dns-ula
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Server Radvd
 Provides radvd configuration to advertise routes to LAN and internet.
Tag: suite::iserv
